<template name="NavBar">
  <nav class="bar bar-tab">
    <a class="tab-item {{isSelectedItem 'home'}}" href="{{pathFor 'home'}}">
      <span class="icon icon-home bar-icon"></span>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item {{isSelectedItem 'mytours'}}" href="{{pathFor 'mytours'}}">
      <span class="icon icon-star-filled bar-icon"></span>
      <span class="tab-label">My Tours</span>
    </a>
    {{#if isInRole 'guide'}}
    <a class="tab-item {{isSelectedItem 'createtour'}}" href="{{pathFor 'createtour'}}">
      <span class="icon icon-compose bar-icon"></span>
      <span class="tab-label">Create Tour</span>
    </a>
    {{/if}}
    <a class="tab-item {{isSelectedItem 'profile'}}" href="{{pathFor 'profile'}}">
      <span class="icon icon-person bar-icon"></span>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item logout">
      <span class="icon icon-close bar-icon"></span>
      <span class="tab-label">Logout</span>
    </a>
  </nav>
</template>
